/* UNIVERSAL */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
/* NAVBAR LOGO */
.navbar-brand .logo {
  width: 140px;
  position: absolute;
  top: 4%;
  left: 10%;
}
.nav-item {
  font-size: 20px;
}
.nav-link:hover {
  color: #70e000 !important;
}
.active .nav-link {
  color: #70e000 !important;
}
.navbar {
  letter-spacing: 2px;
  background: transparent;
  z-index: 99;
}
/* FOOTER IMAGES */
.footer img {
  width: 40px;
  background: center;
  margin: 8px;
}
/* FOOTER BACKGROUND IMAGES */
.footer {
  background: #132a13;
}
/* TITLE */
.jumbotron a:hover {
  color: #985e6d;
}
.jumbotron a {
  font-size: 15px;
  color: #985e6d;
  border-color: #985e6d;
}
.jumbotron h1 {
  letter-spacing: 4px;
  font-weight: 700;
  font-size: 80px;
  font-family: "Montserrat";
  color: #e2dcde;
}
/* PARAGRAP 	 */
.jumbotron p {
  font-size: 15px;
  letter-spacing: 5px;
  font-weight: 600;
  font-family: "Source Sans Pro";
  font-size: 30px;

  color: #fff;
}
/*jOIN NOW  */
.btn:hover {
  letter-spacing: 1px;
  color: #fff;
  background-color: #70e000;
  transition: background-color 500ms;
}
.btn {
  text-align: center;
  letter-spacing: 2px;
  border-radius: 15px;
  color: #000 !important;
  border: 1px solid #008000 !important;
  padding: 10px;
  width: 230px;
  font-weight: 700;
  background-color: #fff;
  text-transform: uppercase;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
  margin-top: 2rem;
}
.jumbotron a {
  font-family: "Montserrat";
  font-size: 20px;
}
/* BACKGROUND IMAGES */
.jumbotron {
  background: transparent;
  height: 100%;
}
.container-fluid {
  min-height: 100vh;
  background: rgb(25, 34, 49);
  background: linear-gradient(
      180deg,
      rgba(11, 9, 10, 1) 0%,
      rgba(11, 9, 10, 0.1) 100%
    ),
    url(./images/background4.png);
  background-size: cover;
  background-position: center;
}

.container h5 {
  padding-top: 40px;
  font-size: 40px;
  color: #fff;
}

.container p {
  font-size: 20px;
  color: #fff;
}

/* FOR MOBILE PHONE */

@media Screen and (max-width: 700px) {
  .btn {
    letter-spacing: 2px;
    border-radius: 15px;
    color: #fff !important;
    border: 1px solid #008000 !important;
    padding: 10px;
    width: 230px;
    font-weight: 700;
    background-color: #008000;

    text-transform: uppercase;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
    margin-top: 2rem;
  }
  /* background for whole page */
  .container-fluid {
    min-height: 100vh;
    background: rgb(25, 34, 49);
    background: linear-gradient(
        180deg,
        rgba(11, 9, 10, 1) 0%,
        rgba(11, 9, 10, 0.1) 100%
      ),
      url(./images/background.jpg);
    background-size: cover;
    background-position: center;
  }
  .jumbotron h1 {
    background-size: cover;
    font-size: 70px;
    font-family: "Roboto Slab", serif;
  }

  .container p {
    font-size: 13px;
    font-family: "Roboto Slab", serif;
  }
  .container h5 {
    font-size: 14px;
    font-style: bold;
    font-family: "Roboto Slab", serif;
  }
}
/* PAGE FOOTER */
.container-footer p {
  font-size: 15px;
  color: #737373;
}
.container-footer h6 {
  font-size: 20px;
  color: #fff;
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

/* FOR MOBILE PHONE */

@media Screen and (max-width: 700px) {
  .jumbotron h1 {
    background-size: cover;
    font-size: 70px;
    font-family: "Roboto Slab", serif;
  }

  .container p {
    font-size: 13px;
    font-family: "Roboto Slab", serif;
  }
  .container h5 {
    font-size: 14px;
    font-style: bold;
    font-family: "Roboto Slab", serif;
  }
  #carouselExampleIndicators {
    width: 40%;
  }
  #carouselExampleIndicators img {
    height: 20vh;
  }
}
